<div class="col px-3 py-3" *ngFor="let product of products; let i=index;">
    <div class="card shadow-sm">
        <div class="card-body" *ngIf="!product.edit">
            <p class="card-text">{{product.name}}</p>
            <span class="card-text">Price: {{product.price}}</span>
            <span class="card-text px-3">Stock: {{product.stock}}</span>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-danger" (click)="deleteProduct(i)">Delete</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="product.edit=true">Edit</button>
                </div>
            </div>
        </div>
        <div class="card-body" *ngIf="product.edit">
            <div class="form-group mb-2">
                <input type="input" placeholder="Enter Name" class="form-control" [(ngModel)]="product.name">
            </div>
            <div class="form-group mb-2">
                <input type="input" placeholder="Enter Price" class="form-control" [(ngModel)]="product.price">
            </div>
            <div class="form- mb-2">
                <input type="input" placeholder="Enter Stock" class="form-control" [(ngModel)]="product.stock">
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Cancel</button> -->
                    <button type="button" class="btn btn-sm btn-success" (click)="product.edit=false">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="btn-group px-3">
    <button type="button" class="btn btn-sm btn-primary" (click)="addProduct()">Add product</button>
</div>